.header-flexbox {

  height: 70px;
  background-color: rgba(21, 153, 186, 0.1);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  left: 12px;
  right: 14px;
  top: 10px;
  z-index: 10;
  padding-right: 100px;
  padding-left: 40px;

  backdrop-filter: blur(10px);
  border-top: 3px solid rgba(255, 255, 255, 0.4);
  border-left: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);

  transition: all 0.5s;
}

.header-flexbox:hover {
  left: 0px;
  right: 0px;
  top: 0px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;

  height: 80px;
}

.title-div{
  color: rgb(216, 216, 216);
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-picture {
  margin-top: 5px;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  object-fit: cover;
}

.logo-div{
  width: 70px;
  margin-left: 20px;
}

.ecell-title{
  font-weight: 800;
  font-size: 26px;
  padding-left: 10px;

  background: linear-gradient(
    120deg,
    hsl(260 70% 70%),
    hsl(0 100% 80%)
  );
  background-clip: text;
  color: transparent;
}

.tabs-div{
  width: 600px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs-elements,
.tabs-elements-home {
  color: rgb(59, 59, 59);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  border-radius: 6px;

  display: flex;
  align-items: center;

  padding-left: 18px;
  padding-right: 18px;
  height: 40px;

  cursor: pointer;
  transition: background-color 0.25s;
}

.tabs-elements-home,
.tabs-elements:hover {
  color: rgb(09, 40, 217);
  background-color: rgba(21, 153, 186, 0.3);
  font-weight: 520;
}

.tabs-elements-home {
  margin-right: 2px;
}

.tabs-elements:active {
  background-color: rgb(21, 153, 186, 0.5);
  border-color: rgb(21, 153, 186);
}