.page-1{ 

  padding: 96px 0 50px 0;
  background-color: lightblue;
}

.texts-image-1 {
  display: flex;
  margin: 16px 100px 10px 100px;
}

.texts-block {
  flex: 1;
}

.texts-block h1 {
  color: white;
  font-size: 68px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.texts-block h2 {
  color: rgb(255, 255, 102);
  font-size: 70px;
  margin: 0px 0px;
  font-weight: 1000;

  margin-inline: auto;
  overflow: hidden;
  display: inline-block;

  /*Keeps on a single line */
  white-space: nowrap;

  /*The cursor */
  border-right: 3px solid;

  /*steps = number of characters */
  animation: typing 2s steps(30) forwards,
  blink 1s step-end infinite;
}

@keyframes typing {

  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.texts-block p {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.buttons-holder {
  display: flex;
  justify-content: center;
}

.image-and-members {
  flex: 1;
  padding-top: 30px;
}

.stats-holder {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  padding-top: 20px;
}

.stats {
  flex: 1;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-holder-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats h1 {
  color: white;
  margin: 6px 0;
  text-align: center;

}

.stats p {
  color: white;
  margin: 0;
  text-align: center;
}