.about-ecell h1 {
  text-align: center;
  margin: 80px 0 16px 0;
  font-size: 40px;
}

.about-ecell h3 {
  text-align: center;
  margin: 0px 200px 60px 200px;
  font-weight: 500;
  color: grey;
  font-size: 22px;
}

.image-text-2 {
  display: flex;
  padding: 0px 100px;
}

.image-holder-2 {
  flex: 1;
  padding: 40px 0;
}

.texts-block-2 {
  flex: 1;
}

.texts-block-2 h1 {
  font-size: 26px;
  font-weight: 500px;
  margin: 30px 0px;
}

.texts-block-2 p {
  font-size: 18px;
  color: rgb(93, 93, 93);
  line-height: 26px;
}

.mini-stats-holder {
  display: flex;
}

.mini-stats {
  margin: 10px;
}

.mini-stats h2 {
  text-align: center;
}

.mini-stats p {
  white-space: nowrap;
  text-align: center;
}

.short-message-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 100px;
}

.short-message {
  padding: 20px 20px;
  background-color: rgb(198, 240, 250);
  margin: 0px 14px;

  border-radius: 20px;

  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-holder {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: rgb(58, 84, 255);
  justify-content: center;
  display: flex;
  align-items: center;
}

.short-message-icon {
  height: 35px;
  width: 35px;
  object-fit: contain;
}

.short-message h3{
  text-align: center;
  color: rgb(74, 74, 74);
}

.short-message p{
  text-align: center;
  color: rgb(83, 83, 83);

  display: flex;
  justify-content: center;
}